/* CONTACTS */
.info-container {
  background-color: white;
  border-radius: 20px;
  padding: 2% 0%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  margin: 2% auto;
  text-align: center;
  font-family: Arial, sans-serif;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease-out forwards;
}

.info-header h2 {
  margin-bottom: 16px;
  font-size: 32px;
  color: #333;
  font-weight: 600;
}

.info-schedule {
  margin-bottom: 20px;
  font-size: 20px;
  color: #555;
  font-weight: 500;
}

.info-actions {
  margin-bottom: 25px;
}

.info-actions img {
  width: 90%;
  height: 90%;
  border-radius: 15px;
}

.info-contacts {
  justify-content: space-around;
  padding: 0 7%;
  display: flex;
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.info-contacts a {
  color: #e1306c;
  text-decoration: none;
  font-weight: 500;
}

.info-contacts a:hover {
  text-decoration: underline;
}
